@page
@model TerritorialHQ.Areas.Administration.Pages.Users.IndexModel
@{
}

<h1>User Management</h1>


<h2>Backend Users</h2>
@foreach (var keyVauePair in Model.UsersWithRoles)
{
    <h3>@keyVauePair.Key</h3>
    <table class="table table-bordered">
        @if (keyVauePair.Value.Count == 0)
        {
            <tr>
                <td>
                    <em>No users in this role.</em>
                </td>
            </tr>
        }
        else
        {
            foreach (var item in keyVauePair.Value)
            {
                <tr>
                    <td>
                        <img style="width: 24px; height: 24px; border-radius: 12px" class="avatar avatar-@(item.UserName) discord-loader" src="~/img/loading_symbol.gif" data-id="@(item.UserName)" />
                        <span class="name-@(item.UserName)">@item.UserName</span>
                    </td>
                    <td style="width: 1%; white-space: nowrap">
                        <form asp-page="./Remove" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-secondary" onclick="return confirm('Remove user from role? The user will be signed out automatically.')">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
}

<h2>Add user to backend</h2>
<form method="post">
    <div class="form-group">
        <label class="form-label" asp-for="UserQuery"></label>
        <input class="form-control" asp-for="UserQuery" />
        <span asp-validation-for="UserQuery" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

@if (Model.QueryResult != null)
{
    <h3>Search Result</h3>
    <table class="table table-bordered">
        <tr>
            <td>
                <img style="width: 24px; height: 24px; border-radius: 12px" class="avatar avatar-@(Model.QueryResult.UserName) discord-loader" src="~/img/loading_symbol.gif" data-id="@(Model.QueryResult.UserName)" />
                <span class="name-@(Model.QueryResult.UserName)">@Model.QueryResult.UserName</span>
            </td>
            <td style="width: 1%; white-space: nowrap">
                <a class="btn btn-sm btn-secondary" asp-page="./Edit" asp-route-id="@Model.QueryResult.Id">Edit role</a>
            </td>
        </tr>
    </table>
}

